<div class="body">
  <h1>About Me</h1>
  <img src="../../assets/joyce.png">
  <p class="description">Joyce Liao is a full-stack software developer with a background in entrepreneurship, building full-stack web apps for local businesses and non-profit organizations. Her experience includes various development projects using C#, .NET, Python, JavaScript, PostgreSQL, and CI|CD pipelines. Joyce is passionate about building highly scalable, high-performance web projects utilizing complexity analysis. </p>

  <div class="links">
    <p><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/joyceliao-seattle"> linkedin.com/in/joyceliao-seattle</a></p>
    <p><b>GitHub:</b> <a href="https://github.com/joyliao07"> github.com/joyliao07</a></p>
  </div>
</div>
